name: asset_cache
description: Load and cache binary asset of any type given a decoder. Built-in support for images, json and more.
version: 1.0.1
homepage: https://github.com/erf/asset_cache

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  path: ^1.8.0

dev_dependencies:
  flutter_test:
    sdk: flutter
    
  flutter_lints: ^1.0.4

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
