name: asset_cache
description: Load and cache any local asset type given a decoder, with singletons for loading images, json and more.
version: 0.3.0+2
homepage: https://github.com/erf/asset_cache

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  path: ^1.8.0

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
